.header {
    background-color:#fff350;
    margin: 24px;
    padding: 24px;
    text-align: center;
}

.container {
    background-color: #ffc107;
    text-align: center;
    margin: 24px;
    padding: 30px;
}

.btn {
    background-color: #c79100;
    color: white;
    padding: 12px 12px;
    margin: 12px 12px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }

  .btn-profile {
      background-color: #fff350;
      padding: 8px 12px;
      cursor: pointer;
  }

  .btn-clear {
      background-color: #90a4ae;
      color: white;
      padding: 12px 12px;
      margin: 12px 12px;
      cursor: pointer;
  }

.link {
    background-color: green;
    color: white;
    padding: 12px 12px;
    text-align: center;
    display: inline-block;
}

.logout {
    background-color: red;
    color: white;
    padding: 12px 12px;
    margin: 12px 12px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.user {
    position: absolute;
    right: 160px;
    top: 75px;
}

.input {
    width: 30%;
    padding: 12px 18px;
    border: 1.5px solid black;
}